@using Amss.Boilerplate.Web.Areas.Manage.Models

@{
    ViewBag.Title = "Users List";
}

@section styles{
    @Styles.Render("~/Content/css/jqgrid", "~/Content/css/datatables")
}

<h2>User list</h2>

@*@{
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<UserGridModel>("users",
        dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
        methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
        pager: true,
        rowsNumber: 10,
        sortingName: "Name",
        sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Asc,
        url: Url.Action("List"),
        viewRecords: true,
        width: 800
      );
}

@grid.GetHtml()*@

<hr />

<div class="btn-toolbar">
    <div class="btn-group">
        @Html.ActionLink("New User", "Create", "User", null, new { @class = "btn btn-large" })
     </div>
</div>

<hr />

<table id="myDataTable" class="display table table-striped table-bordered">
    <thead>
        <tr>
            <th>User Name</th>
            <th>User Name</th>
            <th>Login</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody> 
    </tbody>
</table>

@*<div>
    <input id="test" type="button" value="test"/>
    <input id="test2" type="button" value="test"/>

</div>*@

@section scripts {
    @Scripts.Render("~/bundles/iqgrid")
    @Scripts.Render("~/bundles/datatables")
    
    <script type="text/javascript">
        
        /*odata*/
        $(document).ready(function() {
            var link = "/Services/ClientApi.svc/Users?$filter=startswith(Name,'Mrs')";
            $('#test').click(function() {
                $.ajax({
                    url: link,
                    dataType: "json",
                    error: function(xhr, ts, e) {
                        alert("error: " + JSON.stringify(xhr));
                    },
                    success: function(data, ts, xhr) {
                        alert("succeed: " + JSON.stringify(data));
                        alert(data.d[0]["Name"]);
                    }
                });
            });
        });
        
        /* jqGrid */
        $(document).ready(function () {
            @*@grid.GetJavaScript()*@
          });
        
        /* datatables*/
        $(document).ready(function () {

            var makeLink = function(sSource, aoData) {
                sSource += '&$inlinecount=allpages';
                sSource += '&$skip=' + aoData[3]['value']; // iDisplayStart
                sSource += '&$top=' + aoData[4]['value']; // iDisplayLength
                
                // TODO search - $filter
                // TODO sorting -  $orderby

                return sSource;
            };
            
            $('#myDataTable').dataTable({
                "bServerSide": true,
                "sAjaxSource": '/Services/ClientApi.svc/Users?',
                "bProcessing": true,
                "sDom": "<'row'<'span4'l><'span5'f>r>t<'row'<'span4'i><'span5'p>>",
                "sPaginationType": "bootstrap",
                "fnServerData": function ( sSource, aoData, fnCallback ) {

                    sSource = makeLink(sSource, aoData);
                    
                    $.ajax({
                        "dataType": 'json',
                        "type": "GET",
                        "url": sSource,
                        "success": function(json) {
                            var iTotalRecords = json.d.results.length;
                            var iTotalDisplayRecords = json.d.__count;
                            var sEcho = aoData[0]['value'];

                            var aaData = [];

                            var array = json.d.results;
                            for (var i = 0; i < array.length; i++) {
                                aaData[i] = [];
                                var j = 0;
                                for (var prop in array[i]) {
                                    if (array[i].hasOwnProperty(prop) && prop !== '__metadata') {
                                        aaData[i][j] = array[i][prop];
                                        j++;
                                    }
                                }
                            }

                            var js = {
                                "iTotalRecords": iTotalRecords,
                                "iTotalDisplayRecords": iTotalDisplayRecords,
                                "sEcho": sEcho,
                                "aaData": aaData
                            };

                            fnCallback(js);
                        }
                    });

                       /*$.ajax( {
                        "dataType": 'json', 
                        "type": "POST", 
                        "url": sSource, 
                        "data": aoData, 
                        "success": fnCallback
                      } );*/
                    },
                "aoColumns": [
                                { "sName": "Id", "bVisible": false},
                                { "sName": "UserName",
                                    "bSearchable": true,
                                    "bSortable": true,
                                    "fnRender": function (oObj) {
                                        return '<a href=\"/Manage/User/Edit/' + oObj.aData[0] + '\">' + oObj.aData[1] + '</a>';
                                    }
                                },
                                { "sName": "Login" },
                                { "sName": "Email" }
                            ]
            });
        }); 
    </script>
}
